:root {
  --background-primary: #1f1f1f;
  --background-secondary: #1a1a1a;
  --foreground-plain: #c1c1c1;
  --foreground-primary: #b392f0;
  --foreground-secondary: #f97583;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style-type: none;
  text-decoration: none;
  border: 0;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-primary);
  font-family: monospace;
}

body {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 16px;
  height: 10%;
  display: flex;
  align-items: center;
}

#title {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

#title h1 a {
  color: var(--foreground-primary);
  font-size: 28px;
}

#title h1 a:hover {
  text-decoration: underline;
}

#title p {
  margin-left: 8px;
  color: var(--foreground-plain);
  font-size: 12px;
  user-select: none;
}

#title p::before {
  content: "~~";
  margin-right: 8px;
  user-select: none;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul a {
  margin-left: 24px;
  color: var(--foreground-primary);
  font-size: 18px;
  transition: color ease 200ms;
}

header nav ul a:hover {
  text-decoration: underline;
  color: var(--foreground-secondary);
}

main {
  height: 70%;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#file-upload-section {
  width: 100%;
  height: 95%;
}

#file-upload-section form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#file-drop-area {
  width: 50%;
  height: 80%;
  margin: 0 16px;
  border: 2px dashed var(--foreground-primary);
  border-radius: 8px;
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--foreground-plain);
  transition: border-color ease 200ms, color ease 200ms;
}

#file-drop-area:hover {
  cursor: pointer;
  border-color: var(--foreground-secondary);
  color: var(--foreground-secondary);
}

#file-drop-area p {
  text-align: center;
  font-size: 21px;
}

#file-drop-area input[type="file"] {
  display: none;
}

#file-share-options {
  width: 30%;
  height: 100%;
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed var(--foreground-primary);
  border-radius: 8px;
}

#file-share-options p {
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 18px;
  color: var(--foreground-plain);
  user-select: none;
}

#file-share-options label {
  width: 80%;
  margin-bottom: 16px;
  font-size: 16px;
  color: var(--foreground-primary);
  user-select: none;
  display: flex;
  align-items: center;
}

#file-share-options input[type="checkbox"] {
  visibility: hidden;
}

#file-share-options label span {
  margin-left: auto;
  width: 16px;
  height: 16px;
  color: var(--background-primary);
  border: 2px dashed var(--foreground-primary);
  display: inline-block;
}

#file-share-options input[type="checkbox"]:checked + span {
  background-color: var(--foreground-primary);
  border: 2px dashed var(--background-primary);
}

#file-share-options input[type="password"] {
  width: calc(80% - 8px);
  height: 36px;
  padding: 0px 8px;
  background-color: var(--background-primary);
  color: var(--foreground-primary);
  border: 2px dashed var(--foreground-primary);
  border-radius: 4px;
  font-size: 16px;
  transition: color ease 200ms, border-color ease 200ms;
}

#file-share-options input[type="password"]::placeholder {
  font-family: monospace;
  color: var(--foreground-primary);
  transition: color ease 200ms;
}

#file-share-options input[type="password"]:focus {
  outline: none;
  color: var(--foreground-secondary);
  border: 2px dashed var(--foreground-secondary);
}

#file-share-options input[type="password"]:focus::placeholder {
  color: var(--foreground-secondary);
}

#file-share-options input[type="submit"] {
  margin-top: auto;
  margin-bottom: 16px;
  width: 80%;
  height: 36px;
  background-color: var(--foreground-primary);
  color: var(--background-secondary);
  border-radius: 4px;
  font-family: monospace;
  font-size: 18px;
  transition: background-color ease 200ms;
}

#file-share-options input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--foreground-secondary);
}

#broadcast-shares {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#broadcast-shares h2 {
  color: var(--foreground-plain);
  font-size: 24px;
  margin-bottom: 18px;
}

#broadcast-shares ul {
  width: 80%;
}

#broadcast-shares ul li {
  width: 100%;
  height: 28px;
}

#broadcast-shares ul a {
  width: 100%;
  height: 100%;
  border: 2px dashed var(--foreground-primary);
  border-radius: 4px;
  color: var(--foreground-primary);
  display: flex;
  align-items: center;
  transition: color ease 200ms, border-color ease 200ms;
}

#broadcast-shares ul li h3 {
  margin-left: 8px;
  vertical-align: middle;
}

#broadcast-shares ul a:hover {
  text-decoration: underline;
  border-color: var(--foreground-secondary);
  color: var(--foreground-secondary);
}
