{% extends "base.j2" %}
{% block title %}Quickseal - Broadcasts{% endblock title %}

{% block content %}
    {% include "navbar.j2" %}
    <main>
        <section id="broadcast-shares">
            <h2>Broadcast Shares</h2>
            <ul>
                {% for share in shares %}
                    <li>
                        <a href="/broadcast/{{ share.id }}">
                            <h3>{{ share.id }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock content %}