{% extends "base.j2" %}
{% block title %}Quickseal - File Share {{ share_id }}{% endblock title %}

{% block content %}
    {% include "navbar.j2" %}
    <main>
        <section id="files-section">
            <h2>File Share {{ share_id }}</h2>
            <ul>
                {% for file in files %}
                    <li>
                        <a href="/broadcast/{{ share_id }}/{{ file }}">
                            <h3>{{ file }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock content %}