{% extends "base.j2" %}
{% block title %}Quickseal{% endblock title %}

{% block content %}
    <header>
        <section id="title">
            <h1><a href="/">Quickseal</a></h1>
            <p>quickly_seal_and_share_files</p>
        </section>
        <nav>
            <ul>
                <li><a href="/broadcast">broadcast_shares</a></li>
                <li><a href="https://github.com/nilhiu/quickseal">github</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="file-upload-section">
            <form action="/upload" method="post">
                <div id="file-drop-area">
                    <div id="file-drop-area-text">
                        <p>drag_and_drop</p>
                        <p>or</p>
                        <p>click_to_browse</p>
                    </div>
                    <input type="file" name="files" id="files-input" multiple required>
                </div>
                <div id="file-share-options">
                    <p>share_options</p>
                    <label for="broadcast">is_broadcast
                        <input type="checkbox" name="broadcast" id="broadcast">
                        <span></span>
                    </label>
                    <input type="password" name="password" id="password" placeholder="password">
                    <input type="submit" value="share_files">
                </div>
            </form>
        </section>
    </main>
    <script src="static/js/file_upload.js"></script>
{% endblock content %}