<header>
    <section id="title">
        <h1><a href="/">Quickseal</a></h1>
        <p>quickly_seal_and_share_files</p>
    </section>
    <nav>
        <ul>
            <li><a href="/broadcast">broadcast_shares</a></li>
            <li><a href="https://github.com/nilhiu/quickseal">github</a></li>
        </ul>
    </nav>
</header>